body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.simboloFormacion, .wip{
    font-size: 8rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#toTop{
    padding: 0.5rem;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    display: none;
}

.toTop{
    display: block;
    font-size: 2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

.navbar, .texto-900{
    font-weight: 900;
}

